nav.top-nav{
    background-color: #111;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    /* box-shadow: 0px 4px 4px rgb(41, 41, 41); */
}

nav [aria-current=page]{
    border-bottom: .25em solid rgb(255, 193, 253);
}

body {
    background: #111;
}

main {
    margin-top: 100px;
    margin-left: 2em;
}

nav.top-nav li{
    display: inline-block;
    font-family: 'EB Garamond';
    font-size: 20px;
    font-weight: normal;
    margin: 10px;
    margin-right: 30px;
    color: #fefaf6;
    user-select: none;
    text-decoration: none;

    transition: all .1s ease-in-out; 
}


nav.top-nav li:hover{
    border-bottom: .25em solid rgb(255, 193, 253);
    transform: scale(1.1);
}

/* nav.top-nav ul{
    list-style: none;
} */

nav.top-nav .pulldown-menu li{
    display: block;
    padding: 5px;
    width: 125px;
}

nav.top-nav .pulldown-menu a{
    text-decoration: none;
}

nav.top-nav .pulldown-menu {
    display: none;
    position: absolute;
    border: 1px solid white;
    background-color: #111;
    border-radius: 10px;
    padding: 10px;
    margin-top: 6px;
    
}

nav.top-nav li:hover .pulldown-menu{
    display:block;
}


.project {
    width: 50%;
    display: block;
    border: 2px solid #fefaf6;
    border-radius: 10px; 
    margin-top: 30px;
    margin: auto;
    padding: 20px;
}

.project_title {
    font-size: 40px;
    vertical-align: middle;
    font-family: Garamond, serif;
    padding: 10px;
    text-align: center; color: #fff; 
    background-image: linear-gradient(
  90deg,
  hsl(295deg 100% 21%) 0%,
  hsl(294deg 64% 32%) 20%,
  hsl(293deg 51% 42%) 29%,
  hsl(293deg 48% 52%) 36%,
  hsl(292deg 67% 63%) 43%,
  hsl(291deg 100% 74%) 50%,
  hsl(331deg 100% 75%) 57%,
  hsl(9deg 100% 80%) 64%,
  hsl(30deg 100% 81%) 71%,
  hsl(52deg 60% 86%) 80%,
  hsl(105deg 67% 98%) 100%
);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.project_subtext {
    font-family: 'Gill Sans', sans-serif;
    font-weight: lighter;
    color: #fefaf6;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-left: 20px; 
    margin-right: 20px;
}

.the_problem {
    display: inline-block;
    vertical-align: top;
}

.problem_intro {
    font-size: 30px;
    font-family: Garamond, serif;
    color:#fefaf6;
    font-weight: bold;
    text-align: left;
    width: 200px;
    margin-top: 80px;
}

.problem_desc {
    font-size: 20px;
    font-family: 'Gill Sans', sans-serif;
    color: #fefaf6;
    font-weight: lighter;
    line-height: 1.4;
    width: 800px;
    text-align: left;
}

.problem_desc a{
    text-decoration: none;
    border-bottom: .10em solid rgb(255, 193, 253);
    color: #fefaf6;
}

.presentation {
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
}

.screenshots_title {
    font-size: 30px;
    font-family: Garamond, serif;
    color:#fefaf6;
    font-weight: bold;
    margin: auto;
    width: 200px;
    padding: 10px;
    margin-bottom: 20px;
}

.screenshots {
    margin-top: 25px;
}

.screenshots img{
    border-radius: 10px;
    width: 50%;
    height: 50%;
    margin: 10px 10px 10px 10px;
}

.ss1 p {
    font-size: 20px;
    font-family: 'Gill Sans', sans-serif;
    color: #fefaf6;
    display: inline-block;
    font-weight: lighter;
    width: 500px;
    vertical-align: top;
}

.ss1 img {
    display: inline-block;
}

.ss2 img {
    display: inline-block;
}

.ss3 img {
    display: inline-block;
}

.ss4 img {
    display: inline-block;
}

.ss2 p {
    font-size: 20px;
    font-family: 'Gill Sans', sans-serif;
    font-weight: lighter;
    color: #fefaf6;
    display: inline-block;
    vertical-align: top;
    width: 500px;
}

.ss3 p {
    font-size: 20px;
    font-family: 'Gill Sans', sans-serif;
    color: #fefaf6;
    font-weight: lighter;
    display: inline-block;
    vertical-align: top;
    width: 500px;
}

.ss4 p {
    font-size: 20px;
    font-family: 'Gill Sans', sans-serif;
    color: #fefaf6;
    font-weight: lighter;
    display: inline-block;
    vertical-align: top;
    width: 500px;
}